{% extends "It_Rojgari/_base.html" %} {% load humanize %} {% block content %}

<p
  class="mt-4 bg-emerald-900 text-white font-semibold py-2 w-[120px] px-5 mb-5 rounded"
>
  <a href="{% url 'home' %}">&larr; Go Back</a>
</p>

{% comment %}
<h1 class="mt-3">Job Details:</h1>
{% endcomment %}
<hr />

<div class="mt-4">
  <p class="text-emerald-700 text-sm font-semibold">Position:</p>
  <h3 class="text-gray-700 font-bold text-lg">{{job.title}}</h3>

  <p
    class="text-[10px] bg-gray-600 w-[60px] text-center mt-1 text-white rounded-md semi-bold"
  >
    {{job.type}}
  </p>

  <p class="text-emerald-700 text-sm font-semibold mt-4">Company Name:</p>
  <p>{{job.company}}</p>

  <p class="text-emerald-700 text-sm font-semibold mt-4">Job Description:</p>
  <p>{{job.description}}</p>

  <p class="text-emerald-700 text-sm font-semibold mt-4">Salary:</p>
  <p class="font-bold text-md text-gray-700">Rs. {{job.salery|intcomma}} /-</p>
</div>

{% endblock content %}
